<h1><%= @list.name %></h1>
<div class="row">
  <div class="col-8">
    <div class="row">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-6">
          <div class="card mb-3">
            <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= bookmark.movie.title %></h5>
              <p class="card-text text-secondary"><%= bookmark.movie.overview.truncate(100) %>.</p>
              <p class="card-text"><b><%= bookmark.comment %></b></p>
              <%= link_to "Delete", bookmark_path(bookmark), class: "btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-4">
    <h3>Add a bookmark</h3>
    <%= simple_form_for ([@list, @bookmark]) do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
        <h3 class="mt-3">Add a review</h3>
    <%= simple_form_for ([@list, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
    <% @list.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  </div>
</div>
